{% extends "base.html" %}
{% block content %}


<div class="row row-cols-3 row-cols-md-1 g-4 pt-4" id="carddeck"></div>

<nav aria-label="..." class="pt-4 pb-4">
    <ul id="pagelist" class="pagination"></ul>
</nav>

<script src="/static/js/scripts.js"></script>
<script>
    update(1);
    function update(id){
        get_channels(id-1);
        pagination(id);
    }
    function get_channels(currentpage){
        $.getJSON("/api/channels/"+(currentpage*40),function(data){
            processdata(data);
        });
    }
    function processdata(data){
        $("#carddeck").empty();
        $.each(data,function(i,item){
            var jobj = jQuery.parseJSON(data[i]["json"]);
            var txt = "<div class=\"card\"><div class=\"card-body\"><a href=\"creator.html?creator="+data[i]['channelid']+"\">"+data[i]['channelname']+"</a></div><div><p>"+jobj['items'][0]['snippet']['description']+"</p></div>";
            if(data[i]['subscribed']){
                txt += "<div class=\"card-footer d-flex flex-row bd-highlight mb-3 btn-toolbar\" role=\"toolbar\"><div class=\"btn-group\"><button class=\"btn btn-secondary\" onclick=\"unsubscribe('"+data[i]['channelid']+"');\">Subscribed</button></div>";
            }
            else{
                txt += "<div class=\"card-footer d-flex flex-row bd-highlight mb-3 btn-toolbar\" role=\"toolbar\"><div class=\"btn-group\"><button class=\"btn btn-primary\" onclick=\"subscribe('"+data[i]['channelid']+"');\">Subscribe</button></div>";
            }
            txt += "<div class=\"input-group-text\">Video Count: "+data[i]['vidcount']+"</div><div class=\"input-group-text\">Last Video Archived: "+data[i]['lastvidtime']+"</div></div>";
            $("#carddeck").append(txt);
        });
    }
</script>

{% endblock %}