{% extends "base.html" %}
{% block content %}
<div class="container-lg">
    <h3>Download</h3>
    <div class="input-group mb-3">
        <input id="yturl" type="text" class="form-control" placeholder="Youtube URL" aria-label="Youtube URL" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="processdownload();">Download</button>
      </div>
</div>
<hr>
<h4 class="toprow">Download Queue Length: <div id="queuelength"></div></h4>
<div class="row row-cols-3 row-cols-md-1 g-4 pt-4" id="carddeck"></div>
<ul id="queuelist"></ul>
<div id="spinner" class="lds-ring"><div></div><div></div><div></div><div></div></div>
<div id="dlpush" style="height: 200px;"></div>
<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }
    function processdownload(){
        var yturl = $("#yturl").val();
        if(yturl.length == 11){
            $.ajax({url: "/api/download/single/"+yturl, success: function(result){
                $("#spinner").hide();
            }});
        }
        else if(yturl.includes("watch?v=")){
            id = yturl.split('=')[1]
            $.ajax({url: "/api/download/single/"+id, success: function(result){
                $("#spinner").hide();
            }});
        }
    }
    async function getStatus(){
        let queueSize;
        let downloadProgress;
        try{
            $("#queuelist").empty();
            const q = await fetch("/api/status/queue/");
            qdata = await q.json();
            queueSize = qdata['queue_size'];
            downloadProgress = qdata['dl_status'];
            queueValue = qdata['queue_value'];
            var curid = qdata['cur_id'];
            var curtitle = qdata['cur_title'];
            $("#queuelength").text(queueSize);
            if(isNumeric(downloadProgress)){
                $("#carddeck").empty();
            }
            else{
                var dp = /^.* (\d+).*$/g;
                var idp = dp.exec(downloadProgress);
                $("#downloadProgressBar").empty();
                var txt = "<div class=\"card\"><div class=\"card-body\">"+curtitle+" ("+curid+")</div>";
                txt += "<div class=\"progress mb-2\"><div class=\"progress-bar progress-bar-striped\" role=\"progressbar\" style=\"width: "+idp[1]+"%\" aria-valuenow=\"25\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div></div>"
                $("#carddeck").html(txt);
            }
            if(queueValue.length > 0){
                for(i in queueValue){
                    var li = document.createElement('li');
                    li.appendChild(document.createTextNode(queueValue[i]));
                    $("#queuelist").append(li);
                }
            }
        }
        catch(e){
            console.error("Polling Error",e);
        }
        //Do stuff here
        setTimeout(getStatus,3000);
    }
    getStatus();
</script>
{% endblock %}