{% extends "base.html" %}
{% block content %}


<div><h5 id="resumelabel"></h5></div>
<div class="row row-cols-3 row-cols-md-4 g-4" id="resumedeck"></div>
<hr>
<div><h5 id="latestlabel">Latest</h5></div>
<div class="row row-cols-3 row-cols-md-4 g-4" id="carddeck"></div>
<nav aria-label="..." class="pt-4 pb-4">
    <ul id="pagelist" class="pagination"></ul>
</nav>

<script src="/static/js/scripts.js"></script>
<script>

    update(1);
    function update(id){
        get_videos(id-1);
        pagination(id);
    }
    $.getJSON("/api/list/resume/",function(data){
        processresume(data);
    });
    // function get_video_count(){
    //     $.getJSON("/api/stats/video/count",function(data){
    //         videocount = data;
    //     });
    // }
    function playvid(id){
        window.location.href='/player.html?id='+id;
    }
    function get_videos(currentpage){
        $.getJSON("/api/latest/PublishedAt/"+(currentpage*40),function(data){
            processdata(data);
        });
    }
    function processresume(data){
        if(data.length > 0){
            $("#resumelabel").text("Resume");
            $.each(data,function(i,item){
                var jobj = jQuery.parseJSON(data[i]["json"]);
                var txt = "<div class=\"col\"><div class=\"card h-100\" onclick=\"playvid('"+data[i].id+"')\"><img src=\"/api/images/"+data[i].id+"\" class=\"card-img-top img-fluid\" alt=\"...\"><div class=\"card-body\"><h5 class=\"card-title\">"+jobj["items"][0]["snippet"]["title"]+"</h5>";
                txt += "</div><div class=\"card-footer\"><small class=\"text-muted\">Published: "+data[i].PublishedAt+"</small></div></div></div>";
                $("#resumedeck").append(txt);
            });
        }
    }

</script>
{% endblock %}