{% extends "base.html" %}
{% block content %}
<link href="https://vjs.zencdn.net/8.6.0/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/8.6.0/video.min.js"></script>

<div id="playerdiv">
    <video id="player" class="video-js vjs-default-skin vjs-big-play-centered videojs-overlay-player" data-setup='{}' controls preload="auto" width="auto" height="auto"></video>
</div>
<script src="/static/js/scripts.js"></script>
<div class="row">
    <div id="toprow" class="pl-3 pt-2 w-100"><img id="watchstatus" class="pe-1"><h3 id="title"></h3></div>
    <div><h5 id="creator"></h5></div>
    <div><p id="desc"></p></div>
</div>
<script>
    const querystring = window.location.search;
    const urlparams = new URLSearchParams(querystring);
    const id = urlparams.get('id');
    const video = document.querySelector("video");
    var tspoll;
    watch_status(id);
    vPlayer = videojs('player',{techOrder: ["html5"],autoplay: false});
    $.getJSON("/api/video/"+id,function(data){
        var jobj = jQuery.parseJSON(data[0]["json"]);
        //Load Video
        vPlayer.src([{type: "video/webm",src: data[0]["filepath"]}]);
        vPlayer.fluid(true);
        //Adding Info to Player
        $("#title").text(jobj['items'][0]["snippet"]['title']);
        $("#desc").html(jobj['items'][0]["snippet"]['description'].replace('\n','<br>').replace('\r','<br>'));
        $("#creator").html("<a href='/creator.html?creator="+data[0]['channelId']+"'>"+data[0]['youtuber']+"</a>")
        //Set Timestamp if non-0
        if(!data[0]['timestamp'] == 0){
            vPlayer.currentTime(data[0]['timestamp']);
        }
    });
    //Pause Listener - Push Timestamp to server and disable polling
    video.addEventListener("pause",(event) => {
        clearInterval(tspoll);
        $.getJSON("/api/set_timestamp/"+video.currentTime+"/"+id,function(data){});
    });
    //Play Listener - Start polling
    video.addEventListener("play",(event) => {
        tspoll = window.setInterval(function(){
            $.getJSON("/api/set_timestamp/"+video.currentTime+"/"+id,function(data){});
        }, 5000);
    });
    //End Listener - Update watch status
    video.addEventListener("ended",(event) => {
        $.ajax({url: "/api/watched/"+id, success: function(result){}});
        $.getJSON("/api/set_timestamp/0/"+id,function(data){});
        clearInterval(tspoll);
    });
</script>
{% endblock %}